@import "@/styles/Variables.scss";

@import "@/components/loginForm/LoginForm.scss";


.adminLoginPage {
    // height: 100vh;
    // width: 100vw;

    display: grid;
    place-items: center;
    position: relative;


    >.bg {

        // margin-top: 0rem;
        width: 100%;
        >div {
            position: unset  !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    >.loginForm{
        position: absolute;
        top: 15vh;


        .eyeIcon{
            position: absolute;
            right: 8%;
            bottom: 36%;
        }

        .eyeIcon2{
            position: absolute;
            right: 8%;
            bottom: 47.5%;
        }

        .eyeIcon3{
            position: absolute;
            right: 8%;
            bottom: 34.5%;
        }

    }
}