    .hostel__Owner__Dashboard {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        >.hostel__Booking__Latest__Details {
            margin-top: 3rem;
            width: 90vw;
            background: #fefefe9f;

            >.hostelBookingsTable {





                >tbody {
                    >tr:nth-child(2n) {
                        background: #c2c2c2b2;
                    }

                    >tr {
                        td {
                            padding: .3rem;
                        }

                        >td:nth-child(3) {
                            text-align: center;
                        }

                        >.btnGroup {
                            display: flex;
                            justify-content: space-between;
                        }

                        button {
                            // color: #fff;
                            // background-color: #000;
                            width: 6rem;
                            padding: .5rem .8rem;
                            border-radius: .3rem;

                            display: grid;
                            place-items: center;
                        }

                        >.approveButton {
                            background-color: #000;
                        }

                        >button:nth-child(2) {
                            background-color: #f44336;
                        }

                    }
                }
            }
            >.downloadBtn {
               
                color: #fff;
                background-color: #000;
                width: 6rem;
                padding: .5rem .8rem;
                border-radius: .3rem;
            }
        }


    }