@import "./Variables", "./Utility";



.bgImg {
    position: sticky;
    margin-top: -3.8rem;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;


    background-color: #ececec;
    opacity: 0.4;
    background-image: radial-gradient(#2d36ec 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#2d36ec 0.8500000000000001px, #ececec 0.8500000000000001px);
    background-size: 34px 34px;
    background-position: 0 0, 17px 17px;


    height: 550px;


    >img {

        max-width: 100%;
        height: auto;
        display: inline-block;


    }

}

.listings {
    @include displayFlex(space-evenly, start, row, wrap);

}

.loginPage {
    // height: 100vh;
    // width: 100vw;

    display: grid;
    place-items: center;
    position: relative;


    >.bg {

        // margin-top: 0rem;
        width: 100%;
        >div {
            position: unset  !important;
        }
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
    >.loginForm{
        position: absolute;
        top: 15vh;

    }
}

.hostelDetailsPage {

}